  *,body{
    background-color: #121212;
  }
 
.navbar{
    color: white;
    text-align: center;
    justify-content: center;
    padding: .5rem;
    border-bottom: 1px solid #363636;
    margin-bottom: 30px ;

    -webkit-user-select: none; /* Safari */
   -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */


}
#container{

  display: grid;
  text-align: center;
  margin-bottom: 3rem;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.square{
    width: 4rem;
    height: 4rem;
    border: 2px solid #363636;
    border-radius: 2px;
    margin: 2px;
    display: flex;
    justify-content:center;
    color:white;
    text-align:middle;
    font-size:2rem;
    font-weight: bolder;
   align-items: center;
   transition: .7s all linear;
}
.flipper{
  transition: .7s all linear;

}
.line{
  display: inline-flex;
  flex-direction:row;
  justify-content: center;
  margin-top:  3px;
  
}
#keyboard{
  display: grid;
  justify-content: center;
  text-align: center;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.keyboard{
  display: grid;
 
  text-align: center;
  justify-content: center;
 
}
.k-row{
  display: inline-flex;
  flex-direction:row;
  justify-content: center;
  margin-top:  3px;
}
.key{
  display: flex;
  width: 3rem;
    height: 3.5rem;
    border-radius: 5px;
    background-color: #818384;
    color: white;
    font-size:1.5rem;
    display: grid;
    justify-content:center;
    font-weight: bold;
    margin: 3px;
  align-items: center;


}
.button, .delete{
  background-color: #818384;
  font-size:1.5rem;
  margin: 3px;
  color:white;
  align-items: center;
  display: flex;
  border-radius: 5px;
  padding-right: 1rem;
  padding-left: 1rem;
}
.delete{
  font-size: 2rem;
  
  text-align: center;

}

@keyframes grow {
  from { transform: scale(1); }
  to { transform: scale(1.07); }

}

@media only screen and (max-width: 600px) {
  #container{
    display: grid;
    text-align: center;
    margin-bottom: 1rem;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }
  .square{
    width: 3.5rem;
    height: 3.5rem;
    border: 2px solid #363636;
    border-radius: 2px;
    margin: 2px;
    display: flex;
    justify-content:center;
    color:white;
    text-align:middle;
    font-size:2rem;
    font-weight: bolder;
   align-items: center;
   transition: .7s all linear;
}
  .key{
    display: flex;
    width: 2rem;
      height: 3rem;
      border-radius: 5px;
      background-color: #818384;
      color: white;
      font-size:1rem;
      display: grid;
      justify-content:center;
      font-weight: bold;
      margin: 1px;
    align-items: center;
  
  }
  .button, .delete{
    background-color: #818384;
    font-size:1rem;
    margin: 1px;
    color:white;
    align-items: center;
    display: flex;
    border-radius: 5px;
    padding-right: .5rem;
    padding-left: .5rem;
  }
  .delete{
    font-size: 2rem;
    
    text-align: center;
  
  }
  
}